langchain
langchain_community
dotenv
PyPDF2
pillow
faiss-cpu
gradio
pandas
pymupdf
pytesseract
langchain-huggingface
transformers
sentence-transformers
streamlit 
requests 
lxml 
beautifulsoup4
numpy 
